[toolchain]
package_manager = "yarn"

[features]
resolution = true
skip-lint = false

[programs.localnet]
counter = "CyW9Ck7HrNQryT1mGobveET4BT1At7SGu4mpQWWqabAb"
favorites = "Hfa66TSGWs6qZhKViRvq4wLqkFihFXBLcpK6C47SE9En"
tokens = "BCzhuQmCQVPt1WdFyqgssCDaeZBURET85K2ZsDDdnijs"

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "localnet"
wallet = "~/.config/solana/id.json"

[scripts]
test = "yarn run ts-mocha -p ./tsconfig.json -t 1000000 \"tests/**/*.ts\""
